# Gradle
.gradle/
build/
!**/src/**/build/
**/build/

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
**/target/

# Compiled binaries (Eclipse/IDE)
bin/
**/bin/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Node/Expo (Handled in mobile/ but good to have here too)
node_modules/
.expo/
dist/
web-build/

# Docker Local Data
*_data/
pgdata/
neo4jdata/
# Terraform
terraform/.terraform*
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform.tfstate
