subscription_id =

aks_app_id    = "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
aks_password = "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
aks_location = "East US" 
aks_cluster_name = "cgp-cluster"
aks_kubernetes_version = "1.34"
aks_default_pool_node_count = 2
aks_default_pool_vm_size = "Standard_D2_v4"
aks_default_pool_os_disk_size_gb = 30
aks_environment = "cgp-env"
aks_resource_group_name = "cgp-rc"
aks_dns_prefix = "cgp-dns"

aks_stage_pool_node_count = 2
aks_stage_pool_vm_size = "Standard_D2_v4"

aks_master_pool_node_count = 2
aks_master_pool_vm_size = "Standard_D2_v4"

